* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #334b35;
}
.container{
    padding: 20px 20px 20px 0;
}
h1 {
    color: #beb2a0;
    text-align: center;
    font-size: 45px;
    padding: 20px 20px;
    font-family: "Anton SC", sans-serif;
}
.first-flex{
    color: #beb2a0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 0px 0 20px;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
.first-flex a{
    text-decoration: underline;
    color: #beb2a0;
}
.first-flex a:hover{
    cursor: pointer;
}
.second {
    background-color: #beb2a0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.second div h3{
    font-family: "Anton SC", sans-serif;
}
.second div p{
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

