* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.container{
    padding-right: 20px;
}
h1 {
    color: #beb2a0;
    text-align: center;
    font-size: 45px;
    padding: 20px 20px;
}
.first-flex{
    color: #beb2a0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 0px 0 20px;
}
.first-flex a{
    text-decoration: none;
    color: #beb2a0;
}
.first-flex a:hover{
    cursor: pointer;
}
.second {
    background-color: #beb2a0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px 20px;
    margin-top: 30px;
}
